<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>City Tour - Party Bus</title>
  <link rel="stylesheet" href="../static/css/tours.css">
  <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Menú de navegación -->
<nav class="navbar">
  <div class="nav-container">
    <img src="../static/img/logo.png" alt="Logo" class="logo-img" />
  </div>
  <ul class="nav-links" id="navLinks">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="index.html">Quiénes Somos</a></li>
    <li><a href="index.html">Tours</a></li>
    <li><a href="index.html">Contacto</a></li>
    <li><a href="#" id="abrirModal">Reservar</a></li>
  </ul>
</nav>

<!-- Sección de Tours con Cards -->
<section class="container py-5" id="tours">
  <h2 class="text-center mb-4">CITY TOUR - PARTY BUS</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <!-- tour 1 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 1">
        <div class="card-body">
          <h5 class="card-title">CHIVA RUMBERA CON PISTA DE BAILE</h5>
          <div class="contenido-tour text-limit">
            <p>Disfruta de una noche mágica llena de música, animación, luces y un poco de historia, en este espectacular tour.</p>
      
            <h6>Incluye:</h6>
            <ul>
              <li>2 horas de recorrido.</li>
              <li>Pista de baile.</li>
              <li>Música.</li>
              <li>Animación.</li>
            </ul>
            <h6>3 paradas:</h6>
            <ul>
              <li>Las emblemáticas botas viejas.</li>
              <li>Castillo de San Felipe de Barajas.</li>
              <li>Letras de Cartagena.</li>
            </ul>

            <h6>Opcional:</h6>
            <p>Entrada a la discoteca en Getsemaní</p>
                <h6 class="text-success">Valor por persona: $40.000</h6>

          </div>
                    <button class="btn btn-outline-primary ver-mas">Ver más</button>
        </div>
      </div>
    </div>

      <!-- tour 2 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 2">
        <div class="card-body">
          <h5 class="card-title">CITY TOUR EN CHIVA</h5>
          <div class="contenido-tour text-limit">
        <p>Vive una experiencia única recorriendo los principales sitios turísticos de Cartagena a bordo de una tradicional chiva, con música, animación y la mejor energía caribeña.</p>
            <h6>Nota</h6>
            <p>Clientes hospedados en el centro y zona norte de Cartagena(Marbella, Crespo y la Boquilla) deben acercarse a la Torre del Reloj entre: <br>
              <Strong>Para el tour Am: 
                8:00 am a 8:20 am <br>
              Para el tour Pm: 1:00 pm a 1:20 pm</Strong>
            </p>
            <p>Si están hospedados en Bocagrande o sector del Laguito la recogida será de <br> <strong>Para el tour AM: 9:00 am a 9:30 am.
             <br> Para el tour PM: 2:00 pm a 2:30 pm</strong></p>
            </strong>

            <h6>Recorrido:</h6>
            <ul>
              <li>Panorámico Zona hotelera de Bocagrande.</li>
              <li>Panorámico Torre del Reloj, Muelle de los Pegasos, Barrio Getsemaní.</li>
              <li>Monumento Zapatos Viejos (Parada técnica de 15 min).</li>
              <li>Fortaleza Militar Castillo San Felipe de Barajas (45 min a 1h.)</li>
              <li>Panorámico Avenida Pedro de Heredia, India Catalina, Avenida Santander.</li>
              <li>Parada de letras Cartagena(15 min para fotografías).</li>
              <li>Caminata guíada en Centro Historíco de la Ciudad Amurrallada (45 min).</li>
            </ul>
                            <h6 class="text-success">Valor por persona: $90.000</h6>

          </div>
          <button class="btn btn-outline-primary ver-mas">Ver más</button>
        </div>
      </div>
    </div>

    <!-- Tour 3 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 3">
        <div class="card-body">
          <h5 class="card-title">BUS PARTY</h5>
          <div class="contenido-tour text-limit">
        <p>Disfruta de música, animación, luces y un poco de historia en este espectacular tour..</p>
        
     
            <h6>Incluye:</h6>
            <ul>
              <li>2 horas de recorrido.</li>
              <li>Pista de baile.</li>
              <li>Música.</li>
              <li>Animación.</li>
            </ul>
            <h6>3 paradas:</h6>
            <ul>
              <li>Las emblemáticas botas viejas.</li>
              <li>Castillo de San Felipe de Barajas.</li>
              <li>Letras de Cartagena.</li>
            </ul>

            <h6>Opcional:</h6>
            <p>Entrada a la discoteca en Getsemaní</p>
                            <h6 class="text-success">Valor por persona: $60.000</h6>

          </div>
          <button class="btn btn-outline-primary ver-mas">Ver más</button>
        </div>
      </div>
    </div>
    <!-- Tour 4 --> 
     <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 4">
        <div class="card-body">
          <h5 class="card-title">CITYSIGHTSEEING CARTAGENA</h5>
          <div class="contenido-tour text-limit">
        <p>Explora Cartagena a tu propio ritmo con el CitySightseeing, un tour en bus panorámico con paradas libres en los principales puntos turísticos de la ciudad. Disfruta de aguas cristalinas y arenas blancas en uno de los destinos más visitados cerca de Cartagena.</p>
        <P><strong>Bus turístico de 2 pisos.</strong></P>    
        <h6>Incluye:</h6>
            <ul>
              <li>Recorrido panorámico en buses de dos pisos de 1h y 30min (sin bajarse del bus).</li>
              <li>Sistema internacional de Hop on Hop Off (sube y baja en las paradas designadas).</li>
              <li>12 paradas designadas.</li>
              <li>Frecuencia de 45min en cada parada.</li>
              <li>Sistema de audiología en 6 idiomas.</li>
              <li>Tiquete valido por 2 días.</li>
            </ul>
            <p>Caminata Guiada a Getsemaní. <br>
              Inicia a las 10:30 am desde la parada #1 Torre del Reloj.</p>
            <p><strong>Duración:</strong> 90 minutos.</p>
            <p>Caminata Guiada Centro Histórico. <br>
              Inicia a las 3:00 pm desde la parada #1 Torre del Reloj.</p>
            <p><strong>Duración:</strong> 90 minutos.</p>

            <h6>Beneficios:</h6>
            <ul>
              <li>Degustaciones incluidas.</li>
              <li>Ron y chocolate, parada #12 del Centro de Convenciones.</li>
              <li>Café, parada #12 del Centro de Convenciones.</li>
            </ul>
                            <h6 class="text-success">Valor por persona: $65.000</h6>

          </div>
          <button class="btn btn-outline-primary ver-mas">Ver más</button>
        </div>
      </div>
    </div>

    <!-- desde aquí puedo seguir agregando más tours-->

  </div>
</section>

 <!--Seccion para reservar-->
<!--Ventana Modal // Para reservar-->
<div class="modal-reserva-container" id="reserva">
  <div class="modal-reserva-content">
    <section class="form-reserva">
      <img src="../static/img/logo.png" alt="" style="width: 100px;">
      <center><h4 id="tituloReserva">Reserva con Nosotros</h4></center>
      <form id="formReserva">
        <input class="input-reserva" type="number" name="id" maxlength="10" placeholder="Número de Identificación">
        <input class="input-reserva" type="text" name="nombres_completos" placeholder="Nombres Completos">
        <input class="input-reserva" type="email" name="correo" placeholder="Correo Electrónico">
        <input class="input-reserva" type="number" name="telefono" placeholder="Teléfono">
        <input class="input-reserva" type="date" name="fecha_inicio" placeholder="Fecha Estimada de Viaje">
        <input class="input-reserva" type="date" name="fecha_fin" placeholder="Fecha Estimada de Fin de Viaje">
        <select class="input-reserva" name="destino" required>
          <option value="" disabled selected>Seleccione un Destino</option>
          <option value="islas_del_rosario">Islas del Rosario</option>
          <option value="tierra_bomba">Tierra Bomba</option>
          <option value="tours_bquilla_sama">Tours Barranquilla y Santa Marta</option>
          <option value="tours_bahia">Tours Por la Bahía</option>
          <option value="pasadias_tours_baru">Pasadías y Tours en Barú</option>
          <option value="punta_arena">Punta Arena</option>
        </select>
        <select class="input-reserva" name="tipo_tour" required>
          <option value="" disabled selected>Seleccione Número de Personas</option>
          <option value="1">1 Persona</option>
          <option value="2">2 Personas</option> 
          <option value="3">3 Personas</option>
          <option value="4">4 Personas o Más</option>
        </select>
        <textarea class="input-reserva" name="mensaje" placeholder="Mensaje"></textarea>
        <input class="btn-reserva" type="submit" value="Enviar">
      </form>
      <div id="mensajeExito" style="display: none;">¡Reserva enviada con éxito!</div>
      <div class="btn-cerrar">
        <span class="cerrar-reserva">Cerrar</span>
      </div>
    </section>
  </div>
</div>


  <!-- Fin de la ventana modal -->
<!-- Pie de página -->
<footer>
  <div class="footer-icons">
    <a href="https://www.instagram.com/" target="_blank" title="Instagram">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" />
    </a>
    <a href="https://www.facebook.com/" target="_blank" title="Facebook">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
    </a>
    <a href="https://wa.me/573161600681" target="_blank" title="WhatsApp">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" />
    </a>
  </div>
  <p>&copy; Viajes Y Turismo Uzathama - Todos los derechos reservados.</p>
</footer>

<!-- Scripts -->
<script src="../static/js/tours.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
