<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tours Barranquilla y Santa Marta</title>
  <link rel="stylesheet" href="../static/css/tours.css">
  <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<!-- Menú de navegación -->
<nav class="navbar">
  <div class="nav-container">
    <img src="../static/img/logo.png" alt="Logo" class="logo-img" />
  </div>
  <ul class="nav-links" id="navLinks">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="index.html">Quiénes Somos</a></li>
    <li><a href="index.html">Tours</a></li>
    <li><a href="index.html">Contacto</a></li>
    <li><a href="#" id="abrirModal">Reservar</a></li>
  </ul>
</nav>

<!-- Sección de Tours -->
<section class="container py-5" id="tours">
  <h2 class="text-center mb-4">Tours Barranquilla y Santa Marta</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- CARD 1 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 1">
        <div class="card-body">
          <h5 class="card-title">TOUR PARQUE TYRONA - SECTOR PLAYA CRISTAL</h5>
          <div class="contenido-tour text-limit">
  <p> Disfruta de un día lleno de aventura y relax en uno de los parques naturales más hermosos de Colombia.</p>

            <h6 style="padding-top: 10px;">Recogida:</h6>
            <p>Traslado de recogida (Bocagrande, Centro Histórico, Laguito, Getsemaní y Zona Norte.) NO incluye sector de Manzanillo.</p>
          
            <h6>Recorrido:</h6>
            <p>Pasando por Barranquilla y Santa Marta, llegamos al Parque Tyrona.</p>        
        

            <h6>Incluye:</h6>
            <ul>
              <li>Entradas al parque Tyrona</li>
              <li>Charla educativa sobre la conservación del medio ambiente en el parque.</li>
              <li>Almuerzo típico</li>
            </ul>
             <h6>No incluye:</h6>
            <ul>
              <li>Gastos no específicados</li>
            </ul>
            <h6>Retorno:</h6>
              <p>Retornamos a Cartagena hasta sus hoteles aproximadamente a las 9:30 pm.</p>

            <h6>Llegada:</h6>
            <ul>
              <li><strong>Playa Siete Olas:</strong> Desembarcamos para disfrutar la hermosa vista (Solo fotos).</li>
              <li><strong>Playa Neguanje:</strong> Desembarcamos como lugar de tránsito, donde se tomará una lancha por 10min hacía Playa Cristal.</li>
              <li><strong>Playa Cristal:</strong> Disfrute de hermosas de hermosas playas paradisiacas sin ningún tipo de contaminación.</li>
            </ul>

              <h6>Guía:</h6>
              <p>Guía especializado en la región durante todo el recorrido.</p>
                <h6 class="text-success">Valor por persona: $420.000</h6>

          </div>
                    <button class="btn btn-outline-primary ver-mas">Ver más</button>

        </div>
      </div>
    </div>

    <!-- Tour 2 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 2">
        <div class="card-body">
          <h5 class="card-title">BARRANQUILLA VIP AND SHOPPING</h5>
          <div class="contenido-tour text-limit">
            <p>Disfruta de un día lleno de compras y diversión en Barranquilla, visitando los mejores centros comerciales y boutiques de la ciudad.</p>

            <h6>Incluye:</h6>
            <p>Recogida y retorno zona hotelera (Bocagrande, Laguito, Castillo Grande, Torre del Reloj, Zona Norte).</p>

            <p>Incluye desayuno.</p>

            <h6>Paradas:</h6>
              <p>Sombrero Vueltiao.</p>
              <p>Castillo de Salgar.</p>
              <p>Ventana al Mundo.</p>
              <p>Caiman del Rio (Malecón).</p>
              <p>Monumento Pies Descalzos (Shakira).</p>
              <p>Aleta del Tiburón.</p>
              <p>Restaurante Carnavalero.</p>
            <h6>Almuerzo</h6>
              <ul>
                <li>Arroz con Mariscos.</li>
                <li>Arroz con Camarones.</li>
                <li>Medallones de Sierra al Ajillo.</li>
                <li>Pescado Frito.</li>
              </ul>
            
            <p>Entre otras acciones.</p>
            <h6>Incluye:</h6>
              <p>Museo del Carnaval.</p>
              <p>Centro Comercial y Shopping.</p>
              <p>Letras de Barranquilla.</p>
              <p>Atardecer Muelle 1888.</p>
              <p>Guía especializado en la región.</p>
            <h6>No incluye:</h6>
            <ul>
              <li>Gastos no especificados.</li>
            </ul>
            <h6>Información adicional:</h6>
            <ul>
              <li><strong>Hora salida:</strong> 7:00 am</li>
              <li><strong>Hora regreso:</strong> 7:00 pm</li>
            </ul>
            <p>Operado por: <strong>YORGEN TOURS S.A.S. <br> RNT 198578</strong></p>
                            <h6 class="text-success">Valor por persona: $315.000</h6>

          </div>
                              <button class="btn btn-outline-primary ver-mas">Ver más</button>

        </div>
      </div>
    </div>

    <!-- Tour 3 -->
    <div class="col">
      <div class="card ">
        <img src="../static/img/pasadia.png" class="card-img-top" alt="Tour 2">
        <div class="card-body">
          <h5 class="card-title">MINCA DESDE CARTAGENA</h5>
          <div class="contenido-tour text-limit">
        <p>Este maravilloso tour, vamos a vivir una experiencia única, donde conoceremos la parte baja y media de la Sierra Nevada de Santa Marta.</p>

            <h6 style="padding-top: 10px;" >Incluye:</h6>
            <ul>
              <li>Recogida puerta del hotel en bus climatizado (Bocagrande,  Laguito, Centro, Getsemaní, Zona Norte) hasta Santa Marta.</li>
            </ul>
              <p>Transbordo del bus a camionetas 4x4 para iniciar el recorrido por:
                <ul>
                  <li>Finca Cafetera.</li>
                  <li>Panorámica Pueblo de Minca.</li>
                  <li>Visita y Baño Pueblo de Minca.</li>
                  <li>Visita y Baño en las Cascadas de Marinka.</li>
                  <li>Llega al Eco Hotel Sierra Minca, donde incluye las instalaciones.</li>
                  <li>Piscina Termica.</li>
                </ul>
              </p>
            <h6>Almuerzo</h6>
            <ul>
              <li>Churrasco.</li>
              <li>Punta Gorda.</li>
              <li>Pechuga a la Plancha.</li>
              <li>Arroz Trifásico.</li>
              <li>Pescado con Bebida Acompañante.</li>
            </ul>
            <p>Atracciones
              <ul>
                <li>La Mano de Dios.</li>
                <li>Mallas Elevadas.</li>
              </ul>
            </p>
            <p>Regreso a Cartagena.</p>

            <h6>Horarios:</h6>
              <ul>
                <li>Salida: 4:00 am</li>
                <li>Regreso: 8:00 pm</li>
                <li>Martes y Viernes.</li>
              </ul>

                            <h6 class="text-success">Valor por persona: $460.000</h6>

          </div>
                              <button class="btn btn-outline-primary ver-mas">Ver más</button>

        </div>
      </div>
    </div>

    <!-- Puedes seguir agregando más tours aquí -->

  </div>
</section>

 <!--Seccion para reservar-->
<!--Ventana Modal // Para reservar-->
<div class="modal-reserva-container" id="reserva">
  <div class="modal-reserva-content">
    <section class="form-reserva">
      <img src="../static/img/logo.png" alt="" style="width: 100px;">
      <center><h4 id="tituloReserva">Reserva con Nosotros</h4></center>
      <form id="formReserva">
        <input class="input-reserva" type="number" name="id" maxlength="10" placeholder="Número de Identificación">
        <input class="input-reserva" type="text" name="nombres_completos" placeholder="Nombres Completos">
        <input class="input-reserva" type="email" name="correo" placeholder="Correo Electrónico">
        <input class="input-reserva" type="number" name="telefono" placeholder="Teléfono">
        <input class="input-reserva" type="date" name="fecha_inicio" placeholder="Fecha Estimada de Viaje">
        <input class="input-reserva" type="date" name="fecha_fin" placeholder="Fecha Estimada de Fin de Viaje">
        <select class="input-reserva" name="destino" required>
          <option value="" disabled selected>Seleccione un Destino</option>
          <option value="islas_del_rosario">Islas del Rosario</option>
          <option value="tierra_bomba">Tierra Bomba</option>
          <option value="tours_bquilla_sama">Tours Barranquilla y Santa Marta</option>
          <option value="tours_bahia">Tours Por la Bahía</option>
          <option value="pasadias_tours_baru">Pasadías y Tours en Barú</option>
          <option value="punta_arena">Punta Arena</option>
        </select>
        <select class="input-reserva" name="tipo_tour" required>
          <option value="" disabled selected>Seleccione Número de Personas</option>
          <option value="1">1 Persona</option>
          <option value="2">2 Personas</option> 
          <option value="3">3 Personas</option>
          <option value="4">4 Personas o Más</option>
        </select>
        <textarea class="input-reserva" name="mensaje" placeholder="Mensaje"></textarea>
        <input class="btn-reserva" type="submit" value="Enviar">
      </form>
      <div id="mensajeExito" style="display: none;">¡Reserva enviada con éxito!</div>
      <div class="btn-cerrar">
        <span class="cerrar-reserva">Cerrar</span>
      </div>
    </section>
  </div>
</div>


  <!-- Fin de la ventana modal -->
<!-- Pie de página -->
<footer>
  <div class="footer-icons">
    <a href="https://www.instagram.com/" target="_blank" title="Instagram">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram" />
    </a>
    <a href="https://www.facebook.com/" target="_blank" title="Facebook">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" />
    </a>
    <a href="https://wa.me/573161600681" target="_blank" title="WhatsApp">
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" />
    </a>
  </div>
  <p>&copy; Viajes Y Turismo Uzathama - Todos los derechos reservados.</p>
</footer>

<!-- Scripts -->
<script src="../static/js/tours.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
